#rock {
    background-color: #c11111;
    
}

#paper {
    background-color: #002868;
}

#scissors {
    background-color: #52595d;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    min-width: 200px;
    height: 200px;
    color: white;
    font-size: 36px;
}

p {
    text-align: center;
}

.content {
    padding: 200px 0px;
}

.score {
    display: flex;
    justify-content: space-evenly;
}

.userPoints,
.computerPoints {
    display: flex;
    margin-top: 150px;
    min-width: 200px;
    height: 200px;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 250px;
}